{% extends "index.html" %}

{% block inner %}
<h2 class="question">Login</h2>
<p><b>Enter your email address and password.</b></p>
										
<table><tr><td class="onboarding-td"><b>Email</b><br/>
<input type="email" name="email">
</td></td></tr></table>
										
<table><tr><td class="onboarding-td"><b>Password</b><br/>
<input type="password" name="password">
</td></tr></table>
<a href="#" class="button onboarding-button">Confirm</a>
<a href="/" class="button onboarding-button">Cancel</a>										
{% endblock %}
